body{
    width: 1440px;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.header{
    
}

.header_nav{
    display: flex;
    
}

.logo{
    color: #4D5AE5;
    text-decoration: none;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.logo_white{
    color: #2E2F42;
}

.header_title{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header_link{
    color: #2E2F42;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    width: 48px;
    height: 24px;
    line-height: 24px;
    text-decoration: none;
    padding-right: 40px;
}

.header_contacts{
    list-style: none;
    display: flex;
    
    
}

.header_mail{
    color: #434455;
    text-decoration: none;
    padding-right: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    
}

.header_tel{
    color: #434455;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
/* header end */

.hero_section{
    background-image: url(../img/hero.jpg);
}

.hero_title{
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.hero_tapy{
    padding: 16px 32px;
    gap: 10px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    
}
/* hero end */

.advantages{
    padding: 0 156px 0 156px;
}

.advantages_title{
   display: none;
   
   
}

.advantages_block{
    list-style: none;
    
}

